{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>
    


    {% block content %}
    
    
    {% if name %}
    <h1>{{name}}</h1>
    <br>
    {% endif %}
    

    <div class="jumbotron card" >
        <img class="card-img-top" style="width: 150px;height: 150px;" src="http://127.0.0.1:8000/media/{{ post.image_url }}" alt="Card image cap">
        <div class="card-body">
            <h1 class="display-4" style="color: darkmagenta;">{{post.caption}}</h1>
          
          <h5 class="card-title">created by <strong>{{post.fk_user_id}}</strong> on <strong>{{post.date_time}}</strong></h5>
          
          <a href="{% url 'name_show_like' pk=post.pk %}" class="btn btn-primary">View Likes</a>
          
          <a  id="like{{ post.id }}" data-catid="{{ post.id }}" class="likebutton btn btn-primary" style="color: aliceblue;">Like</a>
          <a href="{% url 'name_display_single_post' pk=post.pk %}" class="btn btn-primary">Add Comment</a>
          
          
            

            <p id="p1{{post.id}}">Like count:{{ post.like_count }}</p>
            <p id="p2{{post.id}}">Comment count:{{ post.comment_count }}</p>
        </div>
    </div>


    <h1>Liked By:</h1>
    {% for l in likes %}
        <p><a href="{% url 'name_get_profile' pk=l.fk_user_id.pk %}" class="card-link">{{l.fk_user_id}}</a></p>
    {% endfor %}

    {% endblock %}
    

   
    
</body>
</html>