{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>
    {% block content %}
    {% if name %}
    <h1>{{name}}</h1>
    <br>
    {% endif %}
    

    
    
    <!-- {% for u in all_users %}
        {% if u.pk != user.pk %}
            <p>{{ u }}  {{ u.pk }}  <button><a href="{% url 'name_add_friend' pk=u.pk %}">Add Friend</a></button><button><a href="{% url 'name_remove_friend' pk=u.pk %}">Remove Friend</a></button>  </p>
        {% endif %}
    {% endfor %} -->
    <div class="notfriends">
        <h1>Explore new people</h1>
        {% for u in my_not_friends %}
            {% if u.pk != user.pk %}
                <!-- <p id="p1{{u.id}}">{{ u }}  {{ u.pk }}  <button><a id="a1{{ u.id }}" addhref="{{ u.id }}" class="addclass" >Add Friend</a></button>  </p> -->
                <p id=p1{{u.id}}>{{ u }}  {{ u.pk }}  <button><a href="http://127.0.0.1:8000/main/add_friend/{{u.id}}">Add Friend</a></button>  </p>
            {% endif %}
        {% endfor %}
    </div>

    <br><br><br>
    <div class="friends">
        <h1>My Friends</h1>
        {% for u in my_friends %}
            {% if u.pk != user.pk %}
            
                <!-- <p id="p2{{u.id}}">{{ u }}  {{ u.pk }}  <button><a id="a2{{ u.id }}" removehref="{{ u.id }}" class="removeclass" >Remove Friend</a></button>  </p> -->
                <p id=p1{{u.id}}>{{ u }}  {{ u.pk }}  <button><a href="http://127.0.0.1:8000/main/remove_friend/{{u.id}}">Remove Friend</a></button>  </p>                
            {% endif %}
        {% endfor %}
    </div>
    
    
    <script>
        
        $("#search").keyup(function () {
          var ip=$(this).val()
          console.log(ip);
          if(ip===""){
            location.reload(true);
          }
        
        $.ajax(
        {
            type:"GET",
            url: "http://127.0.0.1:8000/main/search/",
            data:{
                'ip': ip
            },
            dataType: 'json',
        success: function( data ) 
        {
            
            
            // console.log(data.all_users[0].id)
            // console.log(data.all_users.length)
            // console.log(data.all_users[0].username)
            
            //  http://127.0.0.1:8000/main/remove_friend/<int:pk>
            // var url="http://127.0.0.1:8000/main/remove_friend/"+data.my_not_friends[i].id
            // var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id +"<button><a href="+url+">Add Friend</a></button>  </p>"
            
            var i;
            
            if(data.my_not_friends.length===0){
                $(".notfriends").empty()
                $(".notfriends").append("<h1>No User exists</h1>");
            }
            else{
                $(".notfriends").empty()
                $(".notfriends").append("<h1>Explore new people</h1>")
                for(i=0;i<data.my_not_friends.length;i++){
                    //var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id + "</p>"
                    
                    var url="http://127.0.0.1:8000/main/add_friend/"+data.my_not_friends[i].id
                    var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id +"<button><a href="+url+">Add Friend</a></button>  </p>"
                    //var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id +"<button><a id=a1"+ data.my_not_friends[i].id +" addhref="+data.my_not_friends[i].id+" class=addclass"+">Add Friend</a></button>  </p>"
                    
                    
                    $(".notfriends").append(txt1);
                }
            }

            if(data.my_friends.length===0){
                $(".friends").empty()
                $(".friends").append("<h1>No User exists</h1>");
            }
            else{
                $(".friends").empty()
                $(".friends").append("<h1>My Friends</h1>")
                for(i=0;i<data.my_friends.length;i++){
                    //var txt1="<p id=p2"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id + "</p>"
                    
                    var url="http://127.0.0.1:8000/main/remove_friend/"+data.my_friends[i].id
                    var txt1="<p id=p1"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id +"<button><a href="+url+">Remove Friend</a></button>  </p>"
                    
                    //var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id +"<button><a id=a1"+ data.my_not_friends[i].id +" addhref="+data.my_not_friends[i].id+">Add Friend</a></button>  </p>"
                    //var txt1="<p id=p1"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id +"<button><a id=a2"+ data.my_friends[i].id +" removehref="+data.my_friends[i].id+" class='removeclass'"+">Remove Friend</a></button>  </p>"
                    
                    
                    $(".friends").append(txt1);
                }
            }

            
            
        }

        });
    })

    // $('.addclass').on('click',function(event){
    //         event.preventDefault()
    //     var id; 
    //     id = $(this).attr("addhref"); 
    //     console.log(id)
    //     $.ajax( 
    //     { 
    //         type:"GET", 
    //         url: "http://127.0.0.1:8000/main/add_friend/"+id, 
    //         data:{ 
    //                  user_id: id 
    //     }, 
    //     success: function( data ) 
    //     { 

    //         console.log('added friend status: '+data)
            
    //         var i;
            
    //         if(data.my_not_friends.length===0){
    //             $(".notfriends").empty()
    //             $(".notfriends").append("<h1>No User exists</h1>");
    //         }
    //         else{
    //             $(".notfriends").empty()
    //             $(".notfriends").append("<h1>Explore new people</h1>")
    //             for(i=0;i<data.my_not_friends.length;i++){
    //                 //var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id + "</p>"
                    
    //                 var url="http://127.0.0.1:8000/main/add_friend/"+data.my_not_friends[i].id
    //                 var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id +"<button><a href="+url+">Add Friend</a></button>  </p>"
                    
    //                 //var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id +"<button><a id=a2"+ data.my_not_friends[i].id +" addhref="+data.my_not_friends[i].id+">Add Friend</a></button>  </p>"
    //                 //var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id +"<button><a id=a1"+ data.my_not_friends[i].id +" addhref="+data.my_not_friends[i].id+">Add Friend</a></button>  </p>"
    //                 //var txt1='<p id="p1'+data.my_not_friends[i].id+'">'+ data.my_not_friends[i].username +data.my_not_friends[i].id +'<button><a id="a1'+ data.my_not_friends[i].id +'" addhref='+'"'+data.my_not_friends[i].id+'"'+' class="addclass"'+'>Add Friend</a></button>  </p>'
                    
                    
    //                 console.log(txt1)
    //                 $(".notfriends").append(txt1);
    //             }
    //         }

    //         if(data.my_friends.length===0){
    //             $(".friends").empty()
    //             $(".friends").append("<h1>No User exists</h1>");
    //         }
    //         else{
    //             $(".friends").empty()
    //             $(".friends").append("<h1>My Friends</h1>")
    //             for(i=0;i<data.my_friends.length;i++){
    //                 //var txt1="<p id=p2"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id + "</p>"
                    
    //                 var url="http://127.0.0.1:8000/main/remove_friend/"+data.my_friends[i].id
    //                 var txt1="<p id=p1"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id +"<button><a href="+url+">Remove Friend</a></button>  </p>"
    //                 //var txt1="<p id=p1"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id +"<button><a id=a1"+ data.my_friends[i].id +" removehref="+data.my_friends[i].id+">Remove Friend</a></button>  </p>"
                    
    //                 //var txt1="<p id=p1"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id +"<button><a id=a2"+ data.my_friends[i].id +" removehref="+data.my_friends[i].id+" class='removeclass'"+">Remove Friend</a></button>  </p>"
                    
    //                 $(".friends").append(txt1);
    //             }
    //         }
            
        
    //     } }) });


    //     /////////////////////////////////////////////////////////////////////////////////////////////////
    //     $('.removeclass').click(function(event){
    //         event.preventDefault()
    //     var id; 
    //     id = $(this).attr("removehref"); 
    //     console.log(id)
    //     $.ajax( 
    //     { 
    //         type:"GET", 
    //         url: "http://127.0.0.1:8000/main/remove_friend/"+id, 
    //         data:{ 
    //                  user_id: id 
    //     }, 
    //     success: function( data ) 
    //     { 
            
    //         console.log('removed friend status: '+data)

    //         var i;
            
    //         if(data.my_not_friends.length===0){
    //             $(".notfriends").empty()
    //             $(".notfriends").append("<h1>No User exists</h1>");
    //         }
    //         else{
    //             $(".notfriends").empty()
    //             $(".notfriends").append("<h1>Explore new people</h1>")
    //             for(i=0;i<data.my_not_friends.length;i++){
    //                 //var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id + "</p>"
                    
    //                 var url="http://127.0.0.1:8000/main/add_friend/"+data.my_not_friends[i].id
    //                 var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id +"<button><a href="+url+">Add Friend</a></button>  </p>"
    //                 //var txt1="<p id=p1"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id +"<button><a id=a1"+ data.my_friends[i].id +" removehref="+data.my_friends[i].id+">Remove Friend</a></button>  </p>"
                    
    //                 //var txt1="<p id=p1"+data.my_not_friends[i].id+">"+ data.my_not_friends[i].username +data.my_not_friends[i].id +"<button><a id=a1"+ data.my_not_friends[i].id +" addhref="+data.my_not_friends[i].id+" class=addclass"+">Add Friend</a></button>  </p>"

    //                 $(".notfriends").append(txt1);
    //             }
    //         }

    //         if(data.my_friends.length===0){
    //             $(".friends").empty()
    //             $(".friends").append("<h1>No User exists</h1>");
    //         }
    //         else{
    //             $(".friends").empty()
    //             $(".friends").append("<h1>My Friends</h1>")
    //             for(i=0;i<data.my_friends.length;i++){
    //                 //var txt1="<p id=p2"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id + "</p>"
                    
    //                 var url="http://127.0.0.1:8000/main/remove_friend/"+data.my_friends[i].id
    //                 var txt1="<p id=p1"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id +"<button><a href="+url+">Remove Friend</a></button>  </p>"
    //                 //var txt1="<p id=p1"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id +"<button><a id=a1"+ data.my_friends[i].id +" removehref="+data.my_friends[i].id+">Remove Friend</a></button>  </p>"
                    


    //                 //var txt1="<p id=p1"+data.my_friends[i].id+">"+ data.my_friends[i].username +data.my_friends[i].id +"<button><a id=a2"+ data.my_friends[i].id +" removehref="+data.my_friends[i].id+" class='removeclass'"+">Remove Friend</a></button>  </p>"

    //                 $(".friends").append(txt1);
    //             }
    //         }
            
        
        
    //     } }) });
         
    
    </script>

    {% endblock %}
    

   
    
</body>
</html>